*.log
eclipse/saves/New World/DIM1/forcedchunks.dat
*.dat
*.mca
*.json
out/production/SpaceCraft/assets/spacecraft/lang/Untitled.png
*.class
*.lock
*.dat_old
eclipse/options.txt
*.zip
*.txt
eclipse/logs/2015-06-12-2.log.gz
*.gz
eclipse/config/splash.properties
*.dat_mcr
eclipse/config/forgeChunkLoading.cfg
eclipse/config/forge.cfg
eclipse/screenshots/2015-06-15_15.59.00.png
*.mtl
*.blend
out/production/SpaceCraft/assets/spacecraft/models/ModelLaunchPad8Meta.blend1
*.obj
*.db
*.png
out/production/SpaceCraft/mcmod.info
*.iws
out/production/SpaceCraft/assets/spacecraft/lang/en_US.lang
*.iws
SpaceCraft.iws
*.db